
bin/Debug/BouncyCastle.Crypto.dll
bin/Debug/BouncyCastle.Crypto.xml
bin/Debug/CsvHelper.dll
bin/Debug/CsvHelper.xml
bin/Debug/EveryTeacher.exe
bin/Debug/EveryTeacher.exe.config
bin/Debug/EveryTeacher.pdb
bin/Debug/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
bin/Debug/Microsoft.Bcl.HashCode.dll
bin/Debug/Microsoft.Bcl.HashCode.xml
bin/Debug/System.Buffers.dll
bin/Debug/System.Buffers.xml
bin/Debug/System.Diagnostics.DiagnosticSource.dll
bin/Debug/System.Diagnostics.DiagnosticSource.xml
bin/Debug/System.Memory.dll
bin/Debug/System.Memory.xml
bin/Debug/System.Numerics.Vectors.dll
bin/Debug/System.Numerics.Vectors.xml
bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
bin/Debug/System.Threading.Tasks.Extensions.dll
bin/Debug/System.Threading.Tasks.Extensions.xml
bin/Debug/原始檔.xlsx
bin/Debug/範例檔導師.xlsx
bin/Debug/範例檔系主任.xlsx
bin/Debug/範例檔院長.xlsx
bin/Debug/輸出檔案/寄給導師的/傅士峯老師.xlsx
bin/Debug/輸出檔案/寄給導師的/劉兆隆老師.xlsx
bin/Debug/輸出檔案/寄給導師的/寄給所有人的.csv
bin/Debug/輸出檔案/寄給導師的/李其澤老師.xlsx
bin/Debug/輸出檔案/寄給導師的/林淑華老師.xlsx
bin/Debug/輸出檔案/寄給導師的/洪翠娥老師.xlsx
bin/Debug/輸出檔案/寄給導師的/温媺純老師.xlsx
bin/Debug/輸出檔案/寄給導師的/王翊涵老師.xlsx
bin/Debug/輸出檔案/寄給導師的/白倩如老師.xlsx
bin/Debug/輸出檔案/寄給導師的/白凢芸老師.xlsx
bin/Debug/輸出檔案/寄給導師的/葉怡伶老師.xlsx
bin/Debug/輸出檔案/寄給系主任的/企管系.xlsx
bin/Debug/輸出檔案/寄給系主任的/公育系.xlsx
bin/Debug/輸出檔案/寄給系主任的/寄給所有人的.csv
bin/Debug/輸出檔案/寄給系主任的/生物系.xlsx
bin/Debug/輸出檔案/寄給系主任的/科教所.xlsx
bin/Debug/輸出檔案/寄給系主任的/輔諮系.xlsx
bin/Debug/輸出檔案/寄給院長的/寄給所有人的.csv
bin/Debug/輸出檔案/寄給院長的/教育.xlsx
bin/Debug/輸出檔案/寄給院長的/理學.xlsx
bin/Debug/輸出檔案/寄給院長的/社科體.xlsx
bin/Debug/輸出檔案/寄給院長的/管理.xlsx
bin/Release/BouncyCastle.Crypto.dll
bin/Release/BouncyCastle.Crypto.xml
bin/Release/CsvHelper.dll
bin/Release/CsvHelper.xml
bin/Release/EveryTeacher.exe
bin/Release/EveryTeacher.exe.config
bin/Release/EveryTeacher.pdb
bin/Release/Microsoft.Bcl.AsyncInterfaces.dll
bin/Release/Microsoft.Bcl.AsyncInterfaces.xml
bin/Release/Microsoft.Bcl.HashCode.dll
bin/Release/Microsoft.Bcl.HashCode.xml
bin/Release/System.Buffers.dll
bin/Release/System.Buffers.xml
bin/Release/System.Diagnostics.DiagnosticSource.dll
bin/Release/System.Diagnostics.DiagnosticSource.xml
bin/Release/System.Memory.dll
bin/Release/System.Memory.xml
bin/Release/System.Numerics.Vectors.dll
bin/Release/System.Numerics.Vectors.xml
bin/Release/System.Runtime.CompilerServices.Unsafe.dll
bin/Release/System.Runtime.CompilerServices.Unsafe.xml
bin/Release/System.Threading.Tasks.Extensions.dll
bin/Release/System.Threading.Tasks.Extensions.xml
EveryTeacher.csproj
excel.ico
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Debug/EveryTeacher.csproj.CopyComplete
obj/Debug/EveryTeacher.csproj.CoreCompileInputs.cache
obj/Debug/EveryTeacher.csproj.FileListAbsolute.txt
obj/Debug/EveryTeacher.csproj.GenerateResource.cache
obj/Debug/EveryTeacher.csproj.SuggestedBindingRedirects.cache
obj/Debug/EveryTeacher.exe
obj/Debug/EveryTeacher.ImportPath.resources
obj/Debug/EveryTeacher.pdb
obj/Debug/EveryTeacher.Properties.Resources.resources
obj/Debug/EveryTeacher.SplitExcel.resources
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
obj/Release/EveryTeacher.csproj.CopyComplete
obj/Release/EveryTeacher.csproj.CoreCompileInputs.cache
obj/Release/EveryTeacher.csproj.FileListAbsolute.txt
obj/Release/EveryTeacher.csproj.GenerateResource.cache
obj/Release/EveryTeacher.csproj.SuggestedBindingRedirects.cache
obj/Release/EveryTeacher.exe
obj/Release/EveryTeacher.ImportPath.resources
obj/Release/EveryTeacher.pdb
obj/Release/EveryTeacher.Properties.Resources.resources
obj/Release/EveryTeacher.SplitExcel.resources
obj/Release/TempPE/Properties.Resources.Designer.cs.dll
.vs
/*.config
