bin/*
obj/*
*.xlsx
*.csv
bin/Debug/BouncyCastle.Crypto.dll
bin/Debug/BouncyCastle.Crypto.xml
bin/Debug/EveryTeacher.exe
bin/Debug/EveryTeacher.exe.config
bin/Debug/EveryTeacher.pdb
bin/Debug/System.Diagnostics.DiagnosticSource.dll
bin/Debug/System.Diagnostics.DiagnosticSource.xml
bin/Release/BouncyCastle.Crypto.dll
bin/Release/BouncyCastle.Crypto.xml
bin/Release/CsvHelper.dll
bin/Release/CsvHelper.xml
bin/Release/EveryTeacher.exe
bin/Release/EveryTeacher.exe.config
bin/Release/EveryTeacher.pdb
bin/Release/Microsoft.Bcl.AsyncInterfaces.dll
bin/Release/Microsoft.Bcl.AsyncInterfaces.xml
bin/Release/Microsoft.Bcl.HashCode.dll
bin/Release/Microsoft.Bcl.HashCode.xml
bin/Release/System.Buffers.dll
bin/Release/System.Buffers.xml
bin/Release/System.Diagnostics.DiagnosticSource.dll
bin/Release/System.Diagnostics.DiagnosticSource.xml
bin/Release/System.Memory.dll
bin/Release/System.Memory.xml
bin/Release/System.Numerics.Vectors.dll
bin/Release/System.Numerics.Vectors.xml
bin/Release/System.Runtime.CompilerServices.Unsafe.dll
bin/Release/System.Runtime.CompilerServices.Unsafe.xml
bin/Release/System.Threading.Tasks.Extensions.dll
bin/Release/System.Threading.Tasks.Extensions.xml
EveryTeacher.csproj
excel.ico
ImportPath.Designer.cs
ImportPath.resx
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/EveryTeacher.csproj.AssemblyReference.cache
obj/Debug/EveryTeacher.csproj.CopyComplete
obj/Debug/EveryTeacher.csproj.CoreCompileInputs.cache
obj/Debug/EveryTeacher.csproj.FileListAbsolute.txt
obj/Debug/EveryTeacher.csproj.GenerateResource.cache
obj/Debug/EveryTeacher.csproj.SuggestedBindingRedirects.cache
obj/Debug/EveryTeacher.exe
obj/Debug/EveryTeacher.ImportPath.resources
obj/Debug/EveryTeacher.pdb
obj/Debug/EveryTeacher.Properties.Resources.resources
obj/Debug/EveryTeacher.SendMailDataSelect.resources
obj/Debug/EveryTeacher.SplitExcel.resources
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Release/DesignTimeResolveAssemblyReferences.cache
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
obj/Release/EveryTeacher.csproj.AssemblyReference.cache
obj/Release/EveryTeacher.csproj.CopyComplete
obj/Release/EveryTeacher.csproj.CoreCompileInputs.cache
obj/Release/EveryTeacher.csproj.FileListAbsolute.txt
obj/Release/EveryTeacher.csproj.GenerateResource.cache
obj/Release/EveryTeacher.csproj.SuggestedBindingRedirects.cache
obj/Release/EveryTeacher.exe
obj/Release/EveryTeacher.ImportPath.resources
obj/Release/EveryTeacher.pdb
obj/Release/EveryTeacher.Properties.Resources.resources
obj/Release/EveryTeacher.SplitExcel.resources
obj/Release/TempPE/Properties.Resources.Designer.cs.dll
